<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Legos</title>
  </head>
  <body>
    <h1>Edit Legos</h1>

    <form action="/legos/<%=lego.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%= lego.name %>" /><br />
      Img Url: <input type="text" name="img" value="<%= lego.img %>" /><br />
      Theme:
      <select name="theme">
        <option value="Art" <%= lego.theme === "Art" ? 'selected' : '' %> >Art</option>
        <option value="Architect Series" <%= lego.theme === "Architect Series" ? 'selected' : '' %> >Architect Series</option>
        <option value="DC" <%= lego.theme === "DC" ? 'selected' : '' %> >DC</option>
        <option value="Disney" <%= lego.theme === "Disney" ? 'selected' : '' %> >Disney</option>
        <option value="Ideas" <%= lego.theme === "Ideas" ? 'selected' : '' %> >Ideas</option>
        <option value="Lego Icons" <%= lego.theme === "Lego Icons" ? 'selected' : '' %> >Lego Icons</option>
        <option value="Spider-Man" <%= lego.theme === "Spider-Man" ? 'selected' : '' %> >Spider-Man</option>
        <option value="Star Wars" <%= lego.theme === "Star Wars" ? 'selected' : '' %> >Star Wars</option></select
      ><br />
      Pieces:
      <input type="number" name="pieces" value="<%= lego.pieces %>" /><br />
      Item Number:
      <input
        type="number"
        name="itemNumber"
        value="<%= lego.itemNumber %>"
      /><br />
      Dimensions:
      <input
        type="text"
        name="dimensions"
        value="<%= lego.dimensions %>"
      /><br />
      Built: <input type="checkbox" name="built" <%= lego.built ? 'checked' :
      'unchecked' %> /><br />
      Purchased: <input type="checkbox" name="purchased" <%= lego.purchased ?
      'checked' : 'unchecked' %>/><br />
      <input type="submit" value="Submit Changes" />
    </form>

    <a href="/legos">Discard Changes</a>
  </body>
</html>
