<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>My Lego Collection Home Page</h1>

    <% for (let lego of legos) { %> <%= lego.name %>
    <img src=" <%= lego.img %>  " />
    <%= lego.theme %> <%= lego.pieces %> <%= lego.itemNumber %> <%=
    lego.dimensions %> <%= lego.built %> <%= lego.purchased %> <% } %>
  </body>
</html>
