<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Legos</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>My Lego Collection Home Page</h1>

    <nav>
      <a href="/legos/new">Add New Lego Set</a>
    </nav>

    <ul class="index-ul">
      <% for (let lego of legos) { %>
      <li class="index-li">
        <a href="/legos/<%= lego.id %>">
          <img class="index-img" src=" <%= lego.img %>  "
        /></a>
        <div class="index-info">
          <div><a href="/legos/<%= lego.id %>"> <%= lego.name %></a></div>
          <div><%= lego.theme %></div>
          <div>
            Built: <% if (lego.built === true) { %> ✅ <% } else { %> ❎ <% } %>
          </div>
          <div>
            Purchaed: <% if (lego.purchased === true) { %> ✅ <% } else { %> ❎
            <% } %>
          </div>
          <form action="/legos/<%=lego.id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
        </div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
