<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>My Lego Collection Home Page</h1>
    <ul class="index-ul">
      <% for (let lego of legos) { %>
      <li>
        <%= lego.name %>
        <img class="index-img" src=" <%= lego.img %>  " />
        <%= lego.theme %> <%= lego.pieces %> <%= lego.itemNumber %> <%=
        lego.dimensions %> <%= lego.built %> <%= lego.purchased %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
