<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Legos</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>My Lego Collection Home Page</h1>
    <ul class="index-ul">
      <% for (let lego of legos) { %>
      <li class="index-li">
        <a href="#"> <img class="index-img" src=" <%= lego.img %>  " /></a>
        <div class="index-info">
          <div><a href="#"> <%= lego.name %></a></div>
          <div><%= lego.theme %></div>
          <div>Built: <%= lego.built %></div>
          <div>Purchaed: <%= lego.purchased %></div>
        </div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
