<%- include('./partials/header.ejs') %>

<body class="bg-lighterforestGreen">
  <style type="text/css">
    body {
      font-family: "Mooli", sans-serif;
    }
  </style>

  <h1 class="bg-forestGreen text-forestOrange text-center p-20 text-7xl">
    Lego Wishlist
  </h1>

  <nav class="bg-forestGreen text-center text-forestOrange pb-8 mb-20">
    <a
      class="hover:border-b-4 border-forestOrange ease-in-out duration-200 px-2"
      href="/legos"
      >Home</a
    >
  </nav>

  <div>
    <ul class="grid grid-cols-4 gap-4 mx-12 pb-20">
      <% for (let lego of legos) { %>
      <li
        class="border-4 rounded-md border-darkforestGreen/50 shadow-md grid content-between justify-items-center bg-lighterforestOrange p-8"
      >
        <div>
          <a href="/legos/<%= lego.id %>">
            <img class="max-h-52" src=" <%= lego.img %>  "
          /></a>
        </div>

        <div
          class="grid justify-center justify-items-left text-forestGreen pt-3 border-y-2 border-tan"
        >
          <div class="pb-2">
            <a
              class="hover:border-b-4 border-forestOrange ease-in-out duration-200"
              href="/legos/<%= lego.id %>"
            >
              <%= lego.name %></a
            >
          </div>
          <div><%= lego.theme %></div>
          <div class="flex flex-row items-center">
            Built: <% if (lego.built === true) { %>
            <ion-icon
              class="text-lg pl-2"
              name="checkmark-circle-outline"
            ></ion-icon>
            <% } else { %>
            <ion-icon
              class="text-xl pl-2"
              name="close-circle-outline"
            ></ion-icon>
            <% } %>
          </div>
          <div class="flex flex-row items-center">
            Purchased: <% if (lego.purchased === true) { %>
            <ion-icon
              class="text-lg pl-2"
              name="checkmark-circle-outline"
            ></ion-icon>
            <% } else { %>
            <ion-icon
              class="text-xl pl-2"
              name="close-circle-outline"
            ></ion-icon>
            <% } %>
          </div>
          <div class="flex flex-row">
            <form
              class="basis-1/2"
              action="/legos/<%=lego.id%>?_method=DELETE"
              method="POST"
            >
              <input class="cursor-pointer" type="submit" value="Delete" />
            </form>
            <a class="basis-1/2" href="/legos/<%= lego.id %>/edit">Edit</a>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
